{% extends 'base.html.twig' %}
{% block body %}
    <div class="container content pt-2">
        <div class="row">

            {# ### Looping through todo to get the values from all records ### #}
            
            {% for todo in todos %}

            <div class="col-4">
                <div class="card text-center">
                    <img src="{{todo.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{todo.name}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <small>€&nbsp;{{todo.price|number_format(2)}}</small></h5>
                        <p class="card-text">{{todo.date|date('F j, Y, g:i a')}}</p>
                        <p class="card-text">{{todo.description|slice(0, 50)}}...</p>

                        {# ### CRUD-buttons details/edit/delete ### #}

                        <div class="btn-group">
                            <a href="/details/{{todo.id}}" class="btn btn-sm btn-crud active" aria-current="page">View</a>
                            <a href="/edit/{{todo.id}}" class="btn btn-sm btn-crud">Edit</a>
                            <a href="/delete/{{todo.id}}" class="btn btn-sm btn-crud">Delete</a>
                        </div>

                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}