{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">

            {# ### Looping through todo to get the values from all records ### #}
            {% for todo in todos %}

            <div class="col-4">
                <div class="card">
                    <img src="{{todo.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{todo.name}}</h5>

                    {# <td>{{todo.date|date('F j, Y, g:i a')}}</td> the duedate of the todo, when we want to print a date we must choose the format |date('F j, Y, g:i a') otherwise we will have error #}

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        {# ### CRUD-buttons details/edit/delete ### #}

                        <a href="/details/{{todo.id}}" class="btn btn-success">View</a>
                        <a href="/edit/{{todo.id}}" class="btn btn-warning">Edit</a>
                        <a href="/delete/{{todo.id}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}